@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");

.merchBody h2 {
  text-align: center;
  font-family: "Metal Mania";
}

.cartbtn {
  display: flex;
  padding: 15px;
  background-color: #777;
  border: none;
  color: #56ccf2;
  border-radius: 7px;
  margin: auto;
  cursor: pointer;
}
